$main-color: #FF7766;
$custom-color: #EEE ;
$card-text-color: #a9a9a9;
$blue-color : rgb(0, 129, 233);;
$green-color : rgb(89, 187, 89);
$light-green-color : rgb(94, 196, 36);
$brown-color:brown;
$w-colorg:rgb(37, 1, 66);
$red-color:red;


