.custom {
    h3{
        margin-top: 10px;
        color: blue;
        font-size: 26px;
        font-weight: bold;
    }
    .media{
        margin: 15px;
    }
    .media-body{
        margin: 0 15px;
        h6{
            font-size: 18px;
            font-weight: bold;
            margin-top: 2px;
        }
        .rating{
            color: gold;
            .active{
                color: #c2c2c2;
            }
        }
    }
}

